:root {
    --main-clr: #c2410c;
    --side-clr: #fb923c;
    --back-clr: #ffedd5;
    --text-clr: #7c2d12;

}

html, body, * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    background-color: var(--back-clr);
    line-height: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrapper {
    display: grid;
    grid: 3fr 2fr 10fr / 1fr;
    width: 100%;
    height: 100%;
    color: var(--text-clr);
    font-size: clamp(2rem, 4rem, 6rem);

}

#wrapper>#game {
    display: grid;
    grid: repeat(3, 1fr)/repeat(3, 1fr);
    width: clamp(20%, 34rem, 100%);
    height: clamp(20%, 34rem, 100%);
    gap: 1rem;
    justify-self: center;
    align-self: center;

}

#game>div {
    border: 2px solid var(--side-clr);
    background-color: var(--back-clr);
    align-content: center;
    text-align: center;
}

#game>div:hover {
    background-color: var(--main-clr);
    color: var(--back-clr);
    border: 2px solid var(--text-clr);
}

#title {
    display: grid;
    grid: repeat(1, 1fr) / repeat(2, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    font-size: clamp(0.5rem, 2rem, 4rem);

}

#title>div {
    background-color: var(--back-clr);
    border: 2px solid var(--side-clr);
    color: var(--text-clr);
    width: clamp(20%, 17rem, 60%);
    height: clamp(20%, 17rem, 60%);
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}

#score {
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#score>div {
    width: clamp(5%, 6rem, 60%);
    height: clamp(20%, 6rem, 60%);
    background-color: var(--back-clr);
    border: 2px solid var(--side-clr);
    color: var(--text-clr);
    font-size: clamp(0.5rem, 2rem, 4rem);
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}

#restart {
    width: clamp(5%, 10rem, 60%);
    height: clamp(20%, 6rem, 60%);
    background-color: var(--back-clr);
    border: 2px solid var(--side-clr);
    color: var(--text-clr);
    font-size: clamp(0.5rem, 2rem, 4rem);
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}

#restart:active {
    transform: scale(0.95);
}

#restart:hover {
    background-color: var(--main-clr);
    color: var(--back-clr);
    border: 2px solid var(--text-clr);
}

#top {
    display: flex;
    position:absolute;
    width: 100%;
    height: 50vh;
    border: 2px solid var(--side-clr);
    background-color: var(--back-clr);
    color: var(--text-clr);
    gap: 1rem;
    font-size: clamp(0.5rem, 2rem, 4rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;

}

#top>input {
    padding-left: 1rem;
    border: 2px solid var(--side-clr);
    background-color: var(--back-clr);
    color: var(--text-clr);
    width: clamp(15ch, 17ch, 20ch);
}

#bottom {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    border: 2px solid var(--side-clr);
    background-color: var(--back-clr);
    color: var(--text-clr);
    gap: 1rem;
    font-size: clamp(0.5rem, 2rem, 4rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50vh;
}

#bottom>input {
    padding-left: 1rem;
    border: 2px solid var(--side-clr);
    background-color: var(--back-clr);
    color: var(--text-clr);
    width: clamp(15ch, 17ch, 20ch);
}

#top, #bottom {
    flex-direction: column;
}

.slide-right {
    animation: 3s 1 forwards slideRight;
    animation-timing-function: ease-in;
}

.slide-left {
    animation: 3s 1 forwards slideLeft;
    animation-timing-function: ease-in;
}

.disappear {
    animation: 1s 1 forwards disappear;
    animation-timing-function: ease-in;
}


@keyframes slideRight {
    from {
        left: 0;
    }

    to {
        left: 100%;
        display: none;
    }

}

@keyframes slideLeft {
    from {
        right: 0;
    }

    to {
        right: 100%;
        display: none;
    }

}

@keyframes disappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.1);
        display: none;
    }

}


#start {
    position: absolute;
    width: clamp(20%, 12rem, 40%);
    height: clamp(10%, 6rem, 20%);
    background-color: var(--back-clr);
    border: 2px solid var(--side-clr);
    color: var(--text-clr);
    font-size: clamp(1rem, 2rem, 4rem);
    align-content: center;
    text-align: center;
    word-wrap: break-word;
    top: calc(50vh - (clamp(10%, 6rem, 20%)/2));
    left: calc(50vw - (clamp(20%, 12rem, 40%)/2));
    z-index: 5;
    transition: all 0.2s;
}

#start:active {
    transform: scale(0.95);
}

#start:hover {
    background-color: var(--main-clr);
    color: var(--back-clr);
    border: 2px solid var(--text-clr);
}

#title .active-player {
    background-color: var(--main-clr);
    color: var(--back-clr);
    border: 2px solid var(--text-clr);
}

/* COMPLETE cSS ANIMATIONS